@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 61% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 264 71% 50%;
    --primary-foreground: 264 69% 32%;

    --secondary: 47 95% 57%;
    --secondary-foreground: 300 23% 11%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 264 71% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 264 71% 50%;
    --border-foreground: 264, 71%, 50%, 0.28;
    --input: 264 71% 50%;
    --ring: 264 71% 40%;

    --radius: 8px;
  }

  .dark {
    --background: 224 61% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 264 71% 50%;
    --primary-foreground: 264 69% 32%;

    --secondary: 47 95% 57%;
    --secondary-foreground: 300 23% 11%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 264 71% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 264 71% 50%;
    --border-foreground: 264, 71%, 50%, 0.28;
    --input: 264 71% 50%;
    --ring: 264 71% 40%;

    --radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .ctn {
    @apply mx-auto w-full max-w-[1420px];
  }
  .transition-default {
    @apply transition-all duration-200 ease-linear;
  }
}

@layer utilities {
  .translate-x-center {
    @apply absolute left-1/2;
    transform: translateX(-50%);
  }
  .translate-y-center {
    @apply absolute top-1/2;
    transform: translateY(-50%);
  }
  .translate-center {
    @apply translate-x-center translate-y-center;
  }
}

.ignore-nav {
  @apply !pt-[55px];
}

.nav-mobile {
  @apply fixed bottom-0 w-full;
  z-index: 21;
  border-top: 1px solid rgba(114, 124, 135, 0.3);
  padding: 10px 15px;
  background-image: radial-gradient(#00000000 1.2px, hsl(var(--primary)) 1px);
  background-size: 5px 5px;
  backdrop-filter: blur(5px);
}
